@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["userID"] == null)
    {
        Response.Redirect("login");
    }

}

    <div>
        <button type="button"
                Style="position: fixed; bottom:0; left:0; right:0;width: 120px;height: 30px;"
                id=" Click Me Back"
                onclick="@("window.location.href='" + @Url.Action("Contact", "Home") + "'");">
            Click Me Contact!
        </button>
    </div>
<a href="@Url.Action("logOut","login")">LogOut</a>