

@model JooleWeb.Models.loginModel


@{
    ViewBag.Title = "login";
}
//hhhhhh
<title>Log-In</title>


<div class="container h-auto">
    <div id="loginbox" style="margin-top: 300px; margin-right:500px" , class="mainbox col-md-8 col-md-offset-6 col-sm-8 col-sm-offset-2">
        <div class="pannel-info">
            <div class="form-group">
                @Html.Label("UserName", "UserName:")
                @Html.TextBox("UserName", null, new { placeholder = "Please enter your UserName", @class = "form-control", id = "exampleInputEmail" })<br />
            </div>
            <div class="form-group">
                @Html.Label("Password", "Password:")
                @Html.TextBox("password", null, new { placeholder = "Please enter your password", @class = "form-control", id = "exampleInputPassword2" })<br />

            </div>
            <div class="form-group">
                <button type="submit" id="btn-login" class="btn btn-success" name="log_in" value="log_in">Log-In</button>
                <button type="submit" id="btn-Link" class="btn btn-outline-secondary" name="SingUp" value="SingUp">Sing up</button>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
