
@{
    ViewBag.Title = "Search";
}

<div class="container" style="margin-top: 30%">
    <h1 style="text-align: center; margin-bottom: 25px">Building Product Selection Platform</h1>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept">Catagrey</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#electrical">Electrical</a></li>
                        <li><a href="#furniture">Furniture</a></li>
                        <li class="divider"></li>
                        <li><a href="#all">Anything</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/search.css" rel="stylesheet" id="bootstrap-css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>